<!-- For Loop for every comment -->
<div class="view-post-comment-user">
    <div class="view-post-comment-name">
        <!-- TO-DO - DATABASE NEED: Replace with ACTUAL User Username -->
        <a href="#">sean12xx</a>
        <div class="view-post-comment-options">
            <!-- TO-DO - DATABASE NEED: If NOT OWNED by User, put REPORT BUTTON; Otherwise, if OWNED by User, put DELETE and EDIT BUTTON -->
            <!-- TO-DO - Add BUTTON for Edit Comment -->
            <button id="report-comment" data-bs-toggle="modal" data-bs-target="#report-comment-modal"><i class="bi bi-flag-fill"></i> Report</button>
        </div>
    </div>
    <div class="view-post-comment-content">
        <!-- TO-DO - DATABASE NEED: Replace with ACTUAL User Comment -->
        <p>the rock finna adopt that cat</p>
    </div>
    <div class="view-post-comment-date">
        <!-- TO-DO - DATABASE NEED: Replace with ACTUAL Date Creation -->
        <p>October 11, 2022</p>
    </div>
</div>