<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <% if (session.isLoggedIn) {%>
            <a class="navbar-brand" href="/home">
        <%} else {%>
            <a class="navbar-brand" href="/">
        <%}%>
                <img class="nav-logo" src="/images/defaults/logo.png" alt="MEMEDIA Logo">
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-md-6 col-lg-7 col-11 mx-auto my-auto">
                <!-- TO-DO - DATABASE NEED(?): Make sure SEARCH is working -->
                <form method="get" action="/search" class="d-flex" role="search">
                    <input name="searchInput" class="form-control" type="search" placeholder="Search..." aria-label="Search the title of the Meme" size="100px">
                    <button class="btn btn-light" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- TO-DO - DATABASE NEED: When User is logged in, ENABLE dropdown menu -->
                <% if(session.isLoggedIn) { %>
                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="nav-pfp" src="/images/pfps/<%= session.img %>">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/user/<%= session.username %>">Profile</a></li>
                            <li><a class="dropdown-item" href="/settings/<%= session.username %>">Account Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>

                <% } else { %>

                    <!-- TO-DO - DATABASE NEED: Add If-Else Statements; If user is logged in, make sure button [Log In] is NOT VISIBLE -->
                    <li id="nav-item" class="nav-item">
                        <a href="/login"><button type="submit" id="nav-login-btn" class="btn btn-light">Log In / Sign Up</button></a>
                    </li>

                <% } %>

                <li id="nav-item" class="nav-item">
                    <a class="nav-link" aria-current="page" href="/postCreate"><i
                            class="bi bi-pencil-square"></i> Post</a>
                </li>

                <li id="nav-item" class="nav-item">
                    <a class="nav-link" href="/aboutUs"><i class="bi
                            bi-info-circle"></i> About Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>