<div class="home-h1-containter">
    <a href="home"><h1 class="home-h1">YOUR MEME FEED</h1></a>
</div>

<div class = "post-container">
    <% if(msg !== ""){ %>
        <h4 class="msg-success"><%= msg %></h4><br/>
    <% } %>
    <% if (posts.length > 0) {%> 
        <% posts.forEach(post => { %> 
            <%- include("./partials/postBox.ejs", {post: post}) %>
        <% }) %> 
    <% } %>
</div>