<div class="home-h1-containter">
    <a href="home.html"><h1 class="home-h1">WHAT'S POPPIN'?</h1></a>
</div>

<div class = "post-container">
    <!-- 
        TO-DO:
        1. Add For-Loop [Iterate through database / Show all posts]
        2. User redirection [Logged in]
     -->
     <%- include("./partials/postBox.ejs") %> 
</div>