<!-- Index Page - Container -->
<div class="index-container">
    <%- include( "./partials/carousel.ejs") %> 

    <!-- Featured Posts -->
    <!-- TO-DO: If User selects to Upvote/Downvote/Comment, prompt user to LOGIN FIRST -->
    <div id="index-featured">
        <div id="index-featured-head">
            <h1>Check these out!</h1>
        </div>
        <div>
            <!-- Posts here -->
            <div class = "post-container">
                <% if (posts.length > 0) {%> 
                    <% posts.forEach(post => { %> 
                        <%- include("./partials/postBox.ejs", {post: post}) %> 
                    <% }) %> 
                <% } %>
            </div>
        </div>
    </div>
    
</div>