<div class="index-container">
    <%- include( "./partials/carousel.ejs") %> 

    <div class="post-container">
        <h1 id="index-featured-head">CHECK THESE OUT!</h1>

        <% if (posts.length > 0) {%> 
            <% posts.forEach(post => { %> 
                <%- include("./partials/postBox.ejs", {post: post}) %>
            <% }) %> 
        <% } %>
    </div>
</div>
