<div class="register-container">
    <div class="register-info-container">
        <img src="/images/defaults/logo.png">
        <p>YOUR MAIN SOURCE OF FUN!</p>
    </div>
    <div class="register-form-container">
        <!-- Sign In Title -->
        <div class="register-title">
            <h1>Create an Account</h1>
            <hr/>
        </div>
        <!-- Sign In Fields -->
        <div class="register-form">
            <form action="/register" method="post">
                <!-- User Input -->
                <label>Username</label><br/>
                <input name="username" type="text" minlength="5" maxlength="15"  placeholder="*e.g. ragnar0ck" required><br/>
                <br/>
                <!-- Email Input -->
                <label>Email</label><br/>
                <input name="email" type="email" placeholder="*e.g. random321@yahoo.com" required><br/>
                <br/>
                <!-- Password Input -->
                <label>Password</label><br/>
                <input name="password" class="register-pass" type="password" placeholder="*8 - 16 characters" minlength="8" maxlength="16" required>
                <br/><br/>
                <!-- Submit -->
                <button type="submit">Register</button>
            </form>
        </div>
        <!-- Registration Redirection -->
        <div class="register-rdr">
            <p style="color: rgb(221, 221, 221)"><i>NOTE: You will have to go to your profile settings after registering and logging in to update your profile picture and biography.</i></p>
            <br/>
            <p>Already have an account yet? <a href="/login">Sign in here!</a></p>
        </div>
    </div>
</div>