<!-- REPORT POST -->
<div class="report-container">
    <!-- Header -->
    <div class="report-header">
        <h2>REPORT POST</h2>
    </div>

    <!-- Body -->
    <form action="/confirmReport/<%= post._id %>" method="post">
        <div class="report-body">
            <h4>Why are you reporting the post?</h4>
            <input name="reportType" value="inappropriate" type="radio">
            <label>Inappropriate</label>
            <br/>
            <input name="reportType" value="rude" type="radio">
            <label>Rude content</label>
            <br/>
            <input name="reportType" value="spam" type="radio">
            <label>Spam</label>
            <br/>
            <input name="reportType" value="false-info" type="radio">
            <label>False Information</label>
            <br/>
            <input name="reportType" value="sexual" type="radio">
            <label>Sexual Content or Nudity</label>
            <br/>
            <p><%= post._id %></p>
        </div>
        <!-- Footer -->
        <div class="report-footer">
            <button id="report-submit" type="submit">Submit Report</button>
            <button id="report-cancel">Cancel</button>
        </div>
    </form>
</div>