<% if(!session.isLoggedIn){ %>
    <%- include( "./partials/carousel.ejs") %> 
<% } else { %>
    <div class="home-h1-containter">
        <a href="home"><h1 class="home-h1">WHAT'S POPPIN'?</h1></a>
    </div>
<% } %>

<div class = "post-container">
    <h1 id="nav-search">SEARCH RESULTS</h1>
    <hr/>
    <% if (posts.length > 0) {%> 
        <% posts.forEach(post => { %> 
            <%- include("./partials/postBox.ejs", {post: post}) %>
        <% }) %> 
    <% }else { %>
        <h2 id="nav-no-search">We can't seem to find what you're looking for...</h2>
    <% } %>
</div>